Enter Twitter screen name: <input id="screen-name" type="text">
<button id="screen-name-submit" type="submit">Search</button>
<div id="tweets">
  <%= render 'tweets', user: @user, tweets: @tweets %>
</div>
